[submodule "third_party/unitree_rl_mjlab"]
	path = third_party/unitree_rl_mjlab
	url = https://github.com/unitreerobotics/unitree_rl_mjlab.git
[submodule "third_party/unitree_sdk2"]
	path = third_party/unitree_sdk2
	url = https://github.com/unitreerobotics/unitree_sdk2.git
[submodule "third_party/unitree_mujoco"]
	path = third_party/unitree_mujoco
	url = https://github.com/unitreerobotics/unitree_mujoco.git

[submodule "third_party/unitree_sdk2_python"]
	path = third_party/unitree_sdk2_python
	url = https://github.com/unitreerobotics/unitree_sdk2_python.git
[submodule "third_party/cyclonedds"]
	path = third_party/cyclonedds
	url = https://github.com/eclipse-cyclonedds/cyclonedds.git
