* text=auto eol=lf

*.sh text eol=lf
Robot-Web-Lab text eol=lf
*.py text eol=lf
*.js text eol=lf
*.css text eol=lf
*.html text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.json text eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.stl binary
*.glb binary
*.bin binary
